.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  padding: 64px;
  color: cadetblue;
}

a {
  padding: 24px;
  color: azure;
}

.documentation {
  padding: 12px;
}

.link-back {
  color: cadetblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  padding-top: 64px;
}
